USE [master]
GO
/****** Object:  Database [PRN221_Project_QLNS]    Script Date: 23/3/2023 1:45:50 PM ******/
CREATE DATABASE [PRN221_Project_QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN221_Project_QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN221_Project_QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN221_Project_QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN221_Project_QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN221_Project_QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN221_Project_QLNS]
GO
/****** Object:  Table [dbo].[account]    Script Date: 23/3/2023 1:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[isadmin] [bit] NOT NULL,
	[ismanager] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HubConnection]    Script Date: 23/3/2023 1:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HubConnection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConnectionId] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HubConnection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 23/3/2023 1:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Message] [varchar](1000) NOT NULL,
	[MessageType] [varchar](50) NOT NULL,
	[NotificationDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profile]    Script Date: 23/3/2023 1:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profile](
	[profile_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[first_name] [varchar](20) NOT NULL,
	[last_name] [varchar](20) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[hire_date] [varchar](20) NOT NULL,
	[job] [varchar](40) NOT NULL,
	[report_to] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task]    Script Date: 23/3/2023 1:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](35) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[deadline] [date] NULL,
	[status] [int] NULL,
	[assigned] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([account_id], [username], [password], [isadmin], [ismanager]) VALUES (1, N'admin', N'admin', 1, 0)
INSERT [dbo].[account] ([account_id], [username], [password], [isadmin], [ismanager]) VALUES (2, N'M3ijn', N'123456', 0, 1)
INSERT [dbo].[account] ([account_id], [username], [password], [isadmin], [ismanager]) VALUES (3, N'khanhndn0811', N'123456', 0, 0)
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([Id], [Username], [Message], [MessageType], [NotificationDateTime]) VALUES (1, N'M3ijn', N'ok', N'All', CAST(N'2023-03-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Notification] ([Id], [Username], [Message], [MessageType], [NotificationDateTime]) VALUES (2, N'M3ijn', N'ok', N'All', CAST(N'2023-03-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Notification] ([Id], [Username], [Message], [MessageType], [NotificationDateTime]) VALUES (3, N'all', N'ok', N'All', CAST(N'2023-03-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[profile] ON 

INSERT [dbo].[profile] ([profile_id], [account_id], [first_name], [last_name], [email], [phone_number], [hire_date], [job], [report_to]) VALUES (1, 2, N'Tran', N'Trieu', N'trantrieu@gmail.com', N'123456', N'01/01/2020', N'Department Head', NULL)
INSERT [dbo].[profile] ([profile_id], [account_id], [first_name], [last_name], [email], [phone_number], [hire_date], [job], [report_to]) VALUES (2, 3, N'Nguyen', N'Khanh', N'namkhanh@gmail.com', N'123456', N'01/01/2023', N'Junior Dev', 2)
INSERT [dbo].[profile] ([profile_id], [account_id], [first_name], [last_name], [email], [phone_number], [hire_date], [job], [report_to]) VALUES (3, 4, N'lu2', N'lu', N'lunguyen2k18@gmail.com', N'123456', N'22/03/2023', N'lu', 1)
SET IDENTITY_INSERT [dbo].[profile] OFF
GO
SET IDENTITY_INSERT [dbo].[task] ON 

INSERT [dbo].[task] ([task_id], [name], [description], [deadline], [status], [assigned]) VALUES (3, N'CRUD', N'CRUD employee list', CAST(N'2023-04-30' AS Date), 3, 2)
INSERT [dbo].[task] ([task_id], [name], [description], [deadline], [status], [assigned]) VALUES (4, N'Fix bug', N'Fix new list will not load after CRUD', CAST(N'2023-04-30' AS Date), 2, 2)
INSERT [dbo].[task] ([task_id], [name], [description], [deadline], [status], [assigned]) VALUES (5, N'Modify UI', N'Divide task board by color', CAST(N'2023-04-19' AS Date), 2, 2)
SET IDENTITY_INSERT [dbo].[task] OFF
GO
ALTER TABLE [dbo].[profile]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[profile]  WITH CHECK ADD FOREIGN KEY([report_to])
REFERENCES [dbo].[profile] ([profile_id])
GO
ALTER TABLE [dbo].[task]  WITH CHECK ADD FOREIGN KEY([assigned])
REFERENCES [dbo].[profile] ([profile_id])
GO
/****** Object:  StoredProcedure [dbo].[dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_QueueActivationSender]    Script Date: 23/3/2023 1:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_QueueActivationSender] 
WITH EXECUTE AS SELF
AS 
BEGIN 
    SET NOCOUNT ON;
    DECLARE @h AS UNIQUEIDENTIFIER;
    DECLARE @mt NVARCHAR(200);

    RECEIVE TOP(1) @h = conversation_handle, @mt = message_type_name FROM [dbo].[dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Sender];

    IF @mt = N'http://schemas.microsoft.com/SQL/ServiceBroker/EndDialog'
    BEGIN
        END CONVERSATION @h;
    END

    IF @mt = N'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer' OR @mt = N'http://schemas.microsoft.com/SQL/ServiceBroker/Error'
    BEGIN 
        

        END CONVERSATION @h;

        DECLARE @conversation_handle UNIQUEIDENTIFIER;
        DECLARE @schema_id INT;
        SELECT @schema_id = schema_id FROM sys.schemas WITH (NOLOCK) WHERE name = N'dbo';

        
        IF EXISTS (SELECT * FROM sys.triggers WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[dbo].[tr_dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Sender]')) DROP TRIGGER [dbo].[tr_dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Sender];

        
        IF EXISTS (SELECT * FROM sys.service_queues WITH (NOLOCK) WHERE schema_id = @schema_id AND name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Sender') EXEC (N'ALTER QUEUE [dbo].[dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Sender] WITH ACTIVATION (STATUS = OFF)');

        
        SELECT conversation_handle INTO #Conversations FROM sys.conversation_endpoints WITH (NOLOCK) WHERE far_service LIKE N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_%' ORDER BY is_initiator ASC;
        DECLARE conversation_cursor CURSOR FAST_FORWARD FOR SELECT conversation_handle FROM #Conversations;
        OPEN conversation_cursor;
        FETCH NEXT FROM conversation_cursor INTO @conversation_handle;
        WHILE @@FETCH_STATUS = 0 
        BEGIN
            END CONVERSATION @conversation_handle WITH CLEANUP;
            FETCH NEXT FROM conversation_cursor INTO @conversation_handle;
        END
        CLOSE conversation_cursor;
        DEALLOCATE conversation_cursor;
        DROP TABLE #Conversations;

        
        IF EXISTS (SELECT * FROM sys.services WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Receiver') DROP SERVICE [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Receiver];
        
        IF EXISTS (SELECT * FROM sys.services WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Sender') DROP SERVICE [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Sender];

        
        IF EXISTS (SELECT * FROM sys.service_queues WITH (NOLOCK) WHERE schema_id = @schema_id AND name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Receiver') DROP QUEUE [dbo].[dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Receiver];
        
        IF EXISTS (SELECT * FROM sys.service_queues WITH (NOLOCK) WHERE schema_id = @schema_id AND name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Sender') DROP QUEUE [dbo].[dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_Sender];

        
        IF EXISTS (SELECT * FROM sys.service_contracts WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f') DROP CONTRACT [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f];
        
        IF EXISTS (SELECT * FROM sys.service_message_types WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/StartMessage/Insert') DROP MESSAGE TYPE [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/StartMessage/Insert];
        IF EXISTS (SELECT * FROM sys.service_message_types WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/StartMessage/Update') DROP MESSAGE TYPE [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/StartMessage/Update];
        IF EXISTS (SELECT * FROM sys.service_message_types WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/StartMessage/Delete') DROP MESSAGE TYPE [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/StartMessage/Delete];
        IF EXISTS (SELECT * FROM sys.service_message_types WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/Id') DROP MESSAGE TYPE [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/Id];
        IF EXISTS (SELECT * FROM sys.service_message_types WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/Username') DROP MESSAGE TYPE [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/Username];
        IF EXISTS (SELECT * FROM sys.service_message_types WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/Message') DROP MESSAGE TYPE [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/Message];
        IF EXISTS (SELECT * FROM sys.service_message_types WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/MessageType') DROP MESSAGE TYPE [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/MessageType];
        IF EXISTS (SELECT * FROM sys.service_message_types WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/NotificationDateTime') DROP MESSAGE TYPE [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/NotificationDateTime];
        IF EXISTS (SELECT * FROM sys.service_message_types WITH (NOLOCK) WHERE name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/EndMessage') DROP MESSAGE TYPE [dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f/EndMessage];

        
        IF EXISTS (SELECT * FROM sys.objects WITH (NOLOCK) WHERE schema_id = @schema_id AND name = N'dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_QueueActivationSender') DROP PROCEDURE [dbo].[dbo_Notification_364d1331-9e73-42d8-bbcd-a6e78757fe3f_QueueActivationSender];

        
    END
END
GO
USE [master]
GO
